$btncolor: #43863DFF;
$text-color: #fff;

@mixin base($width-size,$height-size) {
  width: $width-size;
  height: $height-size;
}

@mixin basecolor($color,$font-famil,$font-size) {
  color: $color;
  font-family: $font-famil;
  font-size: $font-size;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000222;
}

#main-image {
  @include base(75%, 600px);
  border: 1px black solid;
}

.btn {
  @include base(100px, 50px);
  @include basecolor($text-color, "Calisto MT", 17px);
  margin: 10px 25px;
  background-color: $btncolor;
}

#title {
  @include basecolor($text-color, Titr, 40px);


}