$font-size: 45px;
$botten-color: #212120;
$botten-textcol: #d1d1cb;

@mixin basestyle($widths,$hights,$sizefo,$col-btn,$marginsize) {
  width: $widths;
  height: $hights;
  font-size: $sizefo;
  color: $col-btn;
  margin-left: $marginsize;
  margin-top: $marginsize;
}

#titr {
  font-size: $font-size;
  margin-top: 40px;

}

#reasult {
  @extend #titr;
}

#input1 {
  @include basestyle(300px, 50px, 30px, $botten-color, 18px);
}
#input2{
  @extend #input1;
}

.btn {
  @include basestyle(90px, 40px, 30px, #fff, 18px);
  border: none;
  border-radius: 50px;
  background-color: #212120;
  box-shadow: 2px 2px 5px #888888;
}